:root{
    --bg: #00000 ;
    --water: #0071bc;
    --section: lightBlue;
    --blue:midnightBlue;
    --orange: rgb(255, 138, 96);
    font-family: arial;
  }
  *{
    box-sizing:border-box;
  }
  
  img,video{
    position: relative;
    height:auto;
    width:100%;
    object-fit: cover;
  }
  body{
    min-height:100vh;
    margin:0;
    max-height:100vh;
    overflow:scroll;
    scroll-behavior: smooth;
    background-color:var(--bg);
    display: grid;
  }
  body > section{
    scroll-margin-top: 2vh;
    scroll-snap-align: start;
    scroll-snap-type: proximity;
  }
  h1{
    padding: 0 4vw;
    z-index: 5;
    font-family: "montserrat", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    color: var(--blue);
    place-self: center;
  }
  p{
    padding: 0 4vw;
  }


  /*the flip book*/
  /* .centered{
    margin:auto;
    width:max-content;
  }
  .flipbook{
    margin:3em auto;
    width:max(40vw,28vh);
    height:max(30vw,21vh);
    position:relative;
    transform-style: preserve-3d;
    perspective:1000px;
    .leaf{
      position:absolute;
      transform-style: preserve-3d;
      height:100%;
      width:50%;
      background-color:#fff;
      left:50%;
      transition:transform 1s;
      transform:rotate3d(0 ,1 , 0, 0deg);
      transform-origin:left 0px;
      //border:1px solid #000;
      .page{
        transform-style: preserve-3d;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        &.front{
          transform:rotate3d(0 ,1 , 0, 0deg) translate3d(0,0,0.1px);
          &:not(.external){
            box-shadow: inset 5px 0px 5px -5px #0005;
          }
            
        }
        &.back{
          transform:rotate3d(0 ,1 , 0, 180deg) translate3d(0,0,0.1px);
          &:not(.external){
            box-shadow: inset -5px 0px 5px -5px #0005;
          }
        } 
      }
      &.turned{
        
        //transform:rotatey(180deg);
      }
    }
  }
  .disabled{
    user-select:none;
    opacity:0.6;
  }
  
  
  //Book page Styles
  
  .title{
    text-align:center;
    width:100%;
    padding:0em!important;
    padding-top:2em;
  }
  .page{
    padding:1em;
    &.front{
      border-radius:0em 1em 1em 0;
    }
    &.back{
      border-radius:1em 0em 0em 1em;
    }
  }
  
  .leaf{
    background-color:#0000!important;
  }
  
  .pageNumber{
    font-size:0.75em;
    position:absolute;
    bottom:0.5em;
  }
  .front .pageNumber{
    right:0.75em;
  }
  .back .pageNumber{
    left:0.75em;
  }
  .contents-row{
    display:flex;
    flex-flow:row nowrap;
    .spacer{
      flex:1 1;
      height:1em;
      border-bottom:1px dashed #000;
    }
    .text{
      flex:0 0 auto;
    }
  }
  h1,h2,h3{
      font-size: max(18qw, 36px);  
  }
  
  
  
  body[onload]{
    /*Cheesing the preview*/
    /*
    transform:scale(1.5);
    transform-origin:center top;
    .leaf:nth-child(1){
      transform:rotate3d(0, 1, 0, -128deg)!important;
    }
    .leaf:nth-child(2){
      transform:rotate3d(0, 1, 0, -70deg)!important;
    }
    .leaf:nth-child(3){
      transform:rotate3d(0, 1, 0, -40deg)!important;
    }
    div.leaf:nth-child(4) > div:nth-child(1){
      background-color:#e76f51;
    }
  }
  
  .cd__intro{
    background-color:#c0e;// Someone is using this on their website and i want to see how good their security is xd
  }
   */

   /*rising water level overlay*/
  
  /*top progress bar*/
  .progress {
    z-index: 10;
    height: 1vh;
    width: 0%;
    background-color: var(--water);
    position: fixed;
    top: 0;
    left: 0;
    animation: progress linear;
    animation-timeline: scroll(root y);
  }
  @keyframes progress {
    to {
      background-color: orangeRed;
      width: 100%;
    }
  }
  .logo{
    z-index:3;
    width: 12vw;
    object-fit: cover;
  }
  .nav{
    padding: 0 28px;
    box-shadow:   var(--section) 0 2px 20px 2px;
    position: -webkit-sticky;
    position:sticky;
    top:0;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    column-gap: 2em;
    z-index:10;
    height: fit-content;
    background-color:var(--blue);
    font-size: max(1.6vw, 12px);
    color: white;
  }
  .link{
    display: flex;
    column-gap: 2em;
  }
  .nav h2{
    position: relative;
    padding-top: 1.5vh;    
    font-size: 2vh;
  }


  .upper,.lower{
    z-index: 3;
    background-color: white;
    height: 4vh;
    color: var(--blue);
    font-size: 16px;
    justify-content: flex-end;
    align-items:center;
  }
  .lower p{
    position:absolute;
    right: -400px;
    animation: run 8s alternate ;
  }
  @keyframes run{
    0%{
      transform: translateX(-100px);
    }
    100%{
      transform: translateX(0px);
    }
  }


  /*content*/
  section{
    width: 100vw;
    height: fit-content;
    background-color: var(--bg);
    overflow-y:scroll;
    overflow-x: hidden;
    position: relative;
    scrollbar-width: none;
  }
  .overlayText{
    position: absolute;
    margin: 24px;
    z-index: 8;
    top: 0%;
    color: var(--section);
    font-size: 6vw;
    font-weight: 900;
    mix-blend-mode: overlay;
    animation: down 3s ease-in ;
    animation-timeline: scroll(y);
  }
  
  @media screen and (min-device-width: 960px)){
    @keyframes down{
      0%{
        transform: translateY(1%);
      }
      100%{
        transform: translateY(1000%);
      }
    }
  }
  @keyframes down{
    0%{
      transform: translateY(1%);
    }
    100%{
      transform: translateY(200%);
    }
  }
  
  .data,.game, .ctx{
    background-color: var(--bg);
    width:100vw;
    height: 60vh;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;    
    scrollbar-width: none;
  }
  .box{
    position: relative;
    z-index:1;
    width: 100vw;
    height: 36vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .block{
    z-index:1;
    text-wrap:pretty;
    background-color: var(--orange);
    color: var(--blue);
    width: 100vw;
    padding: 4vh;
  }
  .block h2{
    font-size: max(3vh, 2.4vw);
  }
  .border{
    z-index: 2;
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 20%;
  }
  
.shrink{
  animation: shrink 3s linear ;
  animation-timeline: scroll();
}
.penguin{
  position: absolute;
  width: 2vw;
  right: 24px;
  top: 0;
}

  .ice{
    position: relative;
    width: 10svh;
    transform: scaleX(-1);
    transform-origin: 40%;
    float: right;
    top: -1svh;
  }
  @keyframes shrink {
    0%{
      scale: 6;
    }  
    50%{
      scale: 8;
    }  
    90%{
      scale: 6;
    }  
    100%{
      scale: 1;
    }
  }

.left{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: fit-content;
  z-index: -10;
}
.penguin2{
  position: sticky;
  bottom: 0;
  right: 0;
}
.city{
  animation: run 8s alternate ;
  animation-timeline: scroll();
}


.water{
    z-index: 3;
    mix-blend-mode: multiply;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 0vh;
    background-color:var(--water);
    background: linear-gradient(0deg, orangeRed 0%, rgb(138, 178, 231) 50%,#bdedf1 90%, white 100%);
    animation: rise 3s 5s linear ;
    animation-timeline: scroll();
    /*
    offset starting point
    scroll lib
    */
  }
  @keyframes rise {
    0%{
      height: 0vh;
    } 
    100%{
      height: 90vh;
    }
  }


.draggable:hover{
    cursor: grab;
}

button {
    padding: 6px;
    background-color: mediumturquoise;
    color: black;
    font-weight: 800;
    font-size: 3vh;
    width: fit-content;
}
button:hover {
    background-color: black;
    color: white;
    font-weight: 800;
    text-decoration: none;
    border-radius: 2rem;
}
